header {
  font-family: "cormorantlight";
  background-color:black;
  color:white;
  text-align:center;
  padding:5px;
}

nav {
  font-family: "aller_lightregular";
  line-height:30px;
  background-color:#eeeeee;
  text-align: center;
  padding:5px;
}

footer {
  font-family: "aller_lightregular";
  background-color:#DC143C;
  color:white;
  text-align:center;
  padding:5px;
}
h1, h2 {
  font-family: "cormorantregular";
}
p {
  font-family: "aller_lightregular";
}