header {
  background-color:black;
  color:white;
  text-align:center;
  padding:5px;
}

nav {
  line-height:30px;
  display: inline-block;
  background-color:#eeeeee;
  text-align: center;
  padding:5px;
}

footer {
  background-color:black;
  color:white;
  text-align:center;
  padding:5px;
}