<h1>Background</h1>
<p>We are helping BonZeb to make a kiln that will produce charcoal from elephant grass for the people of Haiti. Currently Haiti relies on trees for their charcoal production and this has led to major deforestation in the country.</p>
<br />
<br />
<p>See <a href = "http://www.bonzeborg.com/home.html">BonZeb's website</a> for more info.</p>