<h1>Meet the Team</h1>
<p>Every team member for this project is currently a senior mechanical engineer student at the University of Portland who are in the MECOP program.</p>

<h2>Katie Cummins</h2>
<p>Katie hails from Montanna, she worked at Boeing over the summer of 2015 in tool design.</p>
<br />

<h2>Rudi Hamsa</h2>
<p>Rudi is from ..., he worked at Intel over the summer of 2015 on wifi cards for laptops.</p>
<br />

<h2>Kevin Hanscam</h2>
<p></p>
<br />

<h2>Paul Munn</h2>
<p></p>
<br />

<h2>Timothy Miles</h2>
<p></p>
<br />