<h1>Meet the Team</h1>

<h2>Katie Cummins</h2>
<p>Project Lead</p>
<p>Katie worked at Boeing in tool design for the summer of 2015.</p>
<br />

<h2>Rudi Hamsa</h2>
<p>Supply Coordinator</p>
<p>Rudi worked at Intel over the summer of 2015 on wifi cards for laptops.</p>
<br />

<h2>Kevin Hanscam</h2>
<p>Chemical Analysis</p>
<p>Kevin worked at PCC Structurals for the summer of 2015.</p>
<br />

<h2>Christopher Cardoza</h2>
<p>Corespondence Specialist</p>
<p>Chris worked at Daimler Trucks North America for the summer of 2015 working in the Continuous Cost Improvement group.</p>
<br />

<h2>Paul Munn</h2>
<p>Shop Coordinator</p>
<p>Paul's has studied in Salzburg, Austria through the University of Portland's study abroad program.</p>
<br />

<h2>Timothy Miles</h2>
<p>Webmaster</p>
<p>Timothy has worked at HP as a manufacturing intern for the winter/spring of 2015, and at Daimler Trucks North America in the HVAC group.</p>
<p><b>Interests:</b> Computing, Planes, Trains, Trucks, and Automobiles</p>
<p><b>email:</b> miles16@up.edu</p>
<p><b>linkedin:</b> <a href = "https://www.linkedin.com/in/timothy-miles-74322b51">link</a>
