<h1>Weekly Updates</h1>
<br />

<h2 class="sans">Week of 2/12/16-2/19/16</h2>
<p>This week, we made major strides in solidifying how we intend to heat elephant grass in order to make charcoal. To give you a rough idea of what we are considering, our design concept involves transporting "barrels" into a heating kiln and removing the barrels when heating is complete. By using a rolling motion to move the barrels, we will still achieve our goal of mixing the elephant grass for equal heating, while also allowing the barrels to stay closed while going through the kiln. This is important because exposure to oxygen will cause the charcoal to burn into ash.</p> 

<p> Next week, we intend to meet with Dr. Vijlee (our faculty advisor) to discuss our concept. Also, we plan to meet with Allan to receive shop training.</p>
<br />
<h2 class="sans">Week of 2/5/16-2/12/16</h2>
<p>This week, we slightly shifted our focus from prototyping to researching the different ways charcoal can be developed. Therefore, we are collectively and individually studying the different methods that can possibly used.</p>
<p>Our team website is on track to be finished by the end of the day. If you would like the URL, please contact myself or Tim Miles this afternoon.</p>
<br />
<h2 class="sans">Week of 1/30/16-2/5/16</h2>
<p>This week, we met with our industry advisor, Tom Stein. Tom is the President of the organization that we are working with for our project. Attached to this email is the memo of that meeting. Please let me know if you have any questions.</p>
<p>Next week, we will meet to begin our prototype design. We plan to test our prototype on February 15, 2016.</p>